/* NewsDetails.css */
.news_details {
  padding: 20px;
  background: #f9f9f9; 
  border: 2px solid black;  
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Центрирование контейнера */
  max-width: 90%; /* Максимальная ширина */
  overflow: hidden; /* Скрытие содержимого за пределами контейнера */
}

.header-section {
  text-align: center; /* Центрирует текст и изображение */
  margin-bottom: 20px;
}

.news_details h2 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px; /* Размер шрифта в относительных единицах */
  color: black; /* Цвет текста для заголовка */
  margin-bottom: 10px;
  font-weight: bold; /* Увеличение жирности шрифта */
}

.news_details p {
  font-size: 1rem;
  color: #333; /* Цвет текста для параграфов */
  margin-bottom: 10px; /* Увеличение отступов между абзацами */
}

.news_details img {
  max-width: 80%; /* Уменьшение размера изображения */
  height: auto; /* Автоматическая высота */
  border-radius: 8px; /* Радиус закругления углов */
  margin: 0 auto 10px; /* Центрирует изображение и добавляет нижний отступ */
  display: block; /* Отображение как блочный элемент */
}

.image-placeholder {
  background-color: #ddd; /* Светлый фон для заглушки */
  color: #999; /* Текст заглушки */
  padding: 20px;
  border-radius: 8px; /* Радиус закругления углов */
  text-align: center;
  font-style: italic; /* Курсив для текста заглушки */
}

.news-content {
  line-height: 1.6; /* Увеличение межстрочного интервала */
  font-size: 1rem;
  color: #333; /* Цвет текста для лучшей читаемости */
}
/* Мобільні пристрої */
@media (max-width: 600px) {
  .news_details {
    padding: 10px;
  }

  .news_details h2 {
    font-size: 28px; /* Зменшення розміру заголовка для мобільних */
  }

  .news_details p {
    font-size: 0.9rem; /* Зменшення розміру тексту для мобільних */
  }

  .news_details img {
    max-width: 100%; /* Збільшення ширини зображення для мобільних */
  }
}

/* Планшети */
@media (min-width: 601px) and (max-width: 1024px) {
  .news_details {
    padding: 15px;
  }

  .news_details h2 {
    font-size: 32px; /* Зменшення розміру заголовка для планшетів */
  }

  .news_details p {
    font-size: 0.95rem; /* Зменшення розміру тексту для планшетів */
  }
}

/* Десктопи */
@media (min-width: 1025px) {
  .news_details {
    padding: 20px; /* Стандартне відступлення для десктопів */
  }

  .news_details h2 {
    font-size: 40px; /* Стандартний розмір заголовка для десктопів */
  }

  .news_details p {
    font-size: 1rem; /* Стандартний розмір тексту для десктопів */
  }
}